@if $removeOutline == forWholeSite {
    body, :focus, :active { outline: 0 !important; }
}
@else if $removeOutline == onlyForWFFM {
    .scfForm :focus, .scfForm :active { outline: 0 !important; }
}

@if $useOnlyForWFFM == false {
    fieldset { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; font-style: normal; font-weight: normal; }

    input[type="text"], input[type="password"], select, textarea {
        display: block;
        width: $NIE-width;
        height: $NIE-height;
        padding: $NIE-padding;
        border: $NIE-bordersize solid $NIE-bordercolor;
        background: $NIE-background;
        @include boxmodel();
        font-family: $scfForm-fontfamily;
        font-size: $scfForm-fontsize;
        color: $NIE-textcolor;
        -webkit-border-radius: $NIE-borderradius;
        -moz-border-radius: $NIE-borderradius;
        -ms-border-radius: $NIE-borderradius;
        -o-border-radius: $NIE-borderradius;
        border-radius: $NIE-borderradius;
        &[disabled], &[disabled="disabled"] { color: $NIE-disabled-textcolor; }
    }

    input[type="text"] { -webkit-appearance: none; }
    textarea { height: $NIE-textareaHeight; resize: none; }
    .inputbox { position: relative;
        label {
            display: block;
            width: 100%;
            padding: $NIE-label-padding;
            @include boxmodel();
            font-family: $NIE-label-fontfamily;
            color: $NIE-label-color;
            font-size: $NIE-label-fontsize;
            font-weight: $NIE-label-fontweight;
        }
        .error {
            color: $NIE-error-color;
            padding: $NIE-errorinline-padding;
            width: 100%;
            display: block;
            @include boxmodel();
        }
        .tip {
            color: $NIE-tip-color;
            padding: $NIE-tip-padding;
            width: 100%;
            display: block;
            ont-size: $NIE-tip-fontsize;
            line-height: ($NIE-tip-lineheight);
            @include boxmodel();
        }
        .required { color: $NIE-required-color; position: absolute; right: $NIE-required-right; top: $NIE-required-top; z-index: 100; font-size: $NIE-required-fontsize; }
    }
}
@else {
    .scfForm {
        fieldset { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; font-style: normal; font-weight: normal; }
        input[type="text"], input[type="password"], select, textarea {
            display: block;
            width: $NIE-width;
            height: $NIE-height;
            padding: $NIE-padding;
            border: $NIE-bordersize solid $NIE-bordercolor;
            background: $NIE-background;
            @include boxmodel();
            font-family: $scfForm-fontfamily;
            font-size: $scfForm-fontsize;
            color: $NIE-textcolor;
            -webkit-border-radius: $NIE-borderradius;
            -moz-border-radius: $NIE-borderradius;
            -ms-border-radius: $NIE-borderradius;
            -o-border-radius: $NIE-borderradius;
            border-radius: $NIE-borderradius;
        }
        input[type="text"] { -webkit-appearance: none; }
        textarea { height: $NIE-textareaHeight; resize: none; }
    }
}

html .scfForm { width: auto; height: auto; font-family: $scfForm-fontfamily; line-height: $scfForm-lineheight; }
.scfForm { background-color: $scfForm-BgColor; color: $scfForm-TextColor; font-size: $scfForm-fontsize; line-height: $scfForm-lineheight; font-family: $scfForm-fontfamily;
    .scfValidationSummary { margin-left: 0px;
        ul { margin-bottom: 0 0 10px 0; padding-left: 30px; }
    }
    .scfValidator { float: none; }
    .scfSectionBorderAsFieldSet { padding: 0; border: 0 none; margin: 0; }
    .scfSectionLegend { padding: 0; margin-left: 0; }
    .scfSectionUsefulInfo { width: auto; display: block; }
    .scfSectionContent { width: auto; float: none; }
    .scfCheckboxBorder { margin: 0px; }
    .scfCheckbox { width: 100%; }
    .scfCheckboxUsefulInfo { font-size: inherit; width: 100%; padding: 0px; }
    .scfListBoxGeneralPanel, .scfDropListGeneralPanel { width: 100%; float: none; }
    .scfDateSelectorLabel { margin-top: 0px; }
    .scfDropListBorder, .scfEmailBorder, .scfMultipleLineTextBorder, .scfSingleLineTextBorder, .scfPasswordBorder, .scfNumberBorder, .scfDatePickerBorder, .scfDateBorder, .scfRadioButtonListBorder, .scfListBoxBorder, .scfCheckBoxListBorder, .scfFileUploadBorder, .scfDateSelectorBorder, .scfCreditCardBorder, .scfConfirmPasswordBorder, .scfCaptchaBorder, .scfTelephoneBorder, .scfSmsTelephoneBorder { margin: 0px; }
    .scfDropListLabel, .scfEmailLabel, .scfMultipleLineTextLabel, .scfSingleLineTextLabel, .scfPasswordLabel, .scfNumberLabel, .scfDatePickerLabel, .scfDateLabel, .scfRadioButtonListLabel, .scfCheckBoxListLabel, .scfListBoxLabel, .scfFileUploadLabel, .scfDateSelectorLabel, .scfCreditCardLabel, .scfConfirmPasswordLabel, .scfCaptchaLabel, .scfTelephoneLabel, .scfSmsTelephoneLabel { padding: 0; width: 100%; display: block; float: none; }
    .scfEmailGeneralPanel, .scfMultipleLineGeneralPanel, .scfSingleLineGeneralPanel, .scfPasswordGeneralPanel, .scfNumberGeneralPanel, .scfDatePickerGeneralPanel, .scfDateGeneralPanel, .scfRadioButtonListGeneralPanel, .scfCheckBoxListGeneralPanel, .scfFileUploadGeneralPanel, .scfDateSelectorGeneralPanel, .scfCreditCardGeneralPanel, .scfConfirmPasswordGeneralPanel, .scfCaptchaGeneralPanel, .scfTelephoneGeneralPanel, .scfSmsTelephoneGeneralPanel { padding: 0; width: 100%; float: none; }
    .scfDropListUsefulInfo, .scfEmailUsefulInfo, .scfMultipleLineTextUsefulInfo, .scfSingleLineTextUsefulInfo, .scfPasswordUsefulInfo, .scfNumberUsefulInfo, .scfDatePickerUsefulInfo, .scfDateUsefulInfo, .scfRadioButtonListUsefulInfo, .scfListBoxUsefulInfo, .scfCheckBoxListUsefulInfo, .scfFileUploadUsefulInfo, .scfDateSelectorUsefulInfo, .scfCreditCardTextUsefulInfo, .scfConfirmPasswordUsefulInfo, .scfCaptchaUsefulInfo, .scfTelephoneUsefulInfo, .scfSmsTelephoneUsefulInfo { padding-left: 0; float: none; }
    .scfShortDate { clear: left; text-align: left; display: block; margin: 5px 0px; vertical-align: top; width: 60%; }
    .scfShortDate .scfDateSelectorLabel { width: 50%; margin-top: 0px; }
    .scfShortDate .scfDateSelectorGeneralPanel { width: 100%; max-width: 300px; }
    .scfShortDate .scfDateSelectorDay, .scfShortDate .scfDateSelectorShortLabelDay, .scfShortDate .scfDateSelectorShortLabelMonth, .scfShortDate .scfDateSelectorShortLabelYear { display: none; }
    .scfShortText { float: none; }
    .scfShortText .scfSingleLineTextLabel { width: 60%; }
    .scfShortText .scfSingleLineGeneralPanel { width: 100%; overflow: hidden; }
    .scfSectionContent > div.scfShortText [class*="UsefulInfo"].scfSingleLineTextUsefulInfo { width: 35%; float: right;
        img { width: 100%; }
    }
    .scfShortText .scfSingleLineTextBox { width: 60%; float: left; margin: 0px; }
    .scfSectionBorderAsFieldSet { padding-bottom: 30px; }
    > div:after { clear: both; content: ""; display: table; height: 1px; position: relative; width: 1px; }
    .halfSection, .halfSection + .halfSection + .halfSection, .halfSection + .halfSection + .halfSection + .halfSection + .halfSection, .halfSection + .halfSection + .halfSection + .halfSection + .halfSection + .halfSection + .halfSection { width: 45%; float: left; clear: left; }
    .halfSection + .halfSection, .halfSection + .halfSection + .halfSection + .halfSection, .halfSection + .halfSection + .halfSection + .halfSection + .halfSection + .halfSection, .halfSection + .halfSection + .halfSection + .halfSection + .halfSection + .halfSection + .halfSection + .halfSection { float: right; clear: none; }
    .scfSectionBorder { clear: both; }
    .scfValidationSummary, .scfSubmitSummary, .scfValidatorRequired, .scfValidator { color: $NIE-error-color !important; }
    .scfSectionContent { margin-left: -($scfSectionContent-spacingBetweenDividedInputBoxes); margin-right: -($scfSectionContent-spacingBetweenDividedInputBoxes); max-width: $scfSectionContent-maxwidth;
        > div {
            margin-bottom: $scfSectionContent-marginbottom;
            width: 100%;
            position: relative;
            clear: both;
            padding: 0 $scfSectionContent-spacingBetweenDividedInputBoxes;
            @include boxmodel;

            label, .scfDateSelectorLabel, .scfRadioButtonListLabel, .scfCheckBoxListLabel {
                display: block;
                width: 100%;
                padding: $NIE-label-padding;
                @include boxmodel;
                font-family: $NIE-label-fontfamily;
                color: $NIE-label-color;
                font-size: $NIE-label-fontsize;
                font-weight: $NIE-label-fontweight;
                line-height: 1.2em;
            }

            [class*="UsefulInfo"], &.datetime-field > div > span {
                color: $NIE-tip-color;
                padding: $NIE-tip-padding;
                width: 100%;
                display: block;
                font-size: $NIE-tip-fontsize;
                line-height: ($NIE-tip-lineheight);
                @include boxmodel;
            }

            .scfRequired, .scfValidatorRequired { color: $NIE-required-color; position: absolute; right: $scfSectionContent-spacingBetweenDividedInputBoxes; top: $NIE-required-top; z-index: 100; font-size: $NIE-required-fontsize; margin-right: $NIE-required-right; }
            .scfValidatorRequired { color: $NIE-required-color; }
        }
        > div.thirdAvailableWidth { float: left; width: 33.25%; clear: none; margin: 0 0 $scfSectionContent-marginbottom 0; }
        > div.halfAvailableWidth { float: left; width: 50%; clear: none; margin: 0 0 $scfSectionContent-marginbottom 0; }
    }
    input[type="submit"], .scfSectionContent > div label.scfFileUploadLabel { text-decoration: none; font-size: $WFFMbutton-fontsize; line-height: 1; cursor: pointer; font-weight: $WFFMbutton-fontweight; display: inline-block; cursor: pointer; height: auto; min-height: $WFFMbutton-minheight; position: relative; -webkit-border-radius: $WFFMbutton-borderradius; -moz-border-radius: $WFFMbutton-borderradius; -ms-border-radius: $WFFMbutton-borderradius; -o-border-radius: $WFFMbutton-borderradius; border-radius: $WFFMbutton-borderradius; }
    input[type="submit"] { padding: $WFFMbuttonSubmit-padding; border: $WFFMbuttonSubmit-border; background: $WFFMbuttonSubmit-BgColor; color: $WFFMbuttonSubmit-textColor; font-family: $WFFMbuttonSubmit-fontfamily;
        &:hover { background: $WFFMbuttonSubmit-BgColor-hover; color: $WFFMbuttonSubmit-textColor-hover; }
    }
    .scfSectionContent > div label.scfFileUploadLabel { padding: $WFFMbuttonUpload-padding; border: $WFFMbuttonUpload-border; background: $WFFMbuttonUpload-BgColor; color: $WFFMbuttonUpload-textColor; font-family: $WFFMbuttonUpload-fontfamily; line-height: $WFFMbuttonUpload-lineheight;
        &:hover { background: $WFFMbuttonUpload-BgColor-hover; color: $WFFMbuttonUpload-textColor-hover; }
    }
    .scfRadioButtonListBorder, .scfCheckBoxListBorder { width: 100%;
        > span:first-child { margin-bottom: 8px; display: block; width: 100%; }
        td { position: relative;
            input { position: absolute; margin: 7px 0 0 3px; }
            label { padding: $NIE-label-padding-forradioandcheckboxes; margin-bottom: 3px; display: block; color: $NIE-textcolor; }
        }
    }
    .scfCheckboxBorder {
        .scfCheckbox {
            input { position: absolute; top: 7px; margin-left: 3px; }
            label { padding: $NIE-label-padding-forradioandcheckboxes; margin-bottom: 3px; display: block; color: $NIE-textcolor; }
        }
    }
    .scfSectionContent > div.scfFileUploadBorder { position: relative; width: auto; float: left; clear: both;
        label { z-index: 2; width: auto; height: auto; min-height: $NIE-fileinputbtn-height; }
        input { height: $NIE-fileinputbtn-height; line-height: $NIE-fileinputbtn-height; left: 0; position: absolute; top: 0; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
        .scfFileUploadGeneralPanel { position: relative; z-index: 3; }
        .scfFileUploadUsefulInfo .value { display: block; color: $scfForm-TextColor; }
    }
    .scfDateSelectorGeneralPanel {
        &:after { clear: both; content: ""; display: table; height: 1px; position: relative; width: 1px; }
        .scfDateSelectorShortLabelDay, .scfDateSelectorShortLabelMonth, .scfDateSelectorShortLabelYear { display: none; }
        select { width: 30%; float: left; padding-right: 3px; }
        select + select {margin: 0 5%; }
        select + select + select { margin: 0; }
        select.scfDateSelectorMonth { width: 40%; }
        select.scfDateSelectorYear { width: 30%;}
        select.scfDateSelectorDay { width: 20%;}
    }
    .scfSectionContent > div.scfPasswordConfirmation > div:first-child, .scfSectionContent > div.scfCreditCard > div:first-child { margin-bottom: $scfSectionContent-marginbottom; }
    .scfDatePickerGeneralPanel .ui-icon { display: block; float: right; position: relative; top: -27px; }
    .scfCaptchaLimitGeneralPanel { width: 230px; }
    .scfCaptchStrongTextPanel { float: none; width: 230px; }
    .scfCaptchaLabelText { width: 230px; }
    .scfCaptcha img { border: 1px solid black; }
    .scfCaptchaTextBox { width: 100%; }
    .scfCaptchaLimitGeneralPanel .scfRequired, .scfCaptchaLimitGeneralPanel .scfValidatorRequired { float: right; }
    .scfCaptchaGeneralPanel embed { position: absolute; z-index: -10; }
    .scfCaptchaGeneralPanel td br { margin-top: 3px; margin-bottom: 5px; }
    .scfCaptchaGeneralPanel td input { margin-left: 20px; }
    .scfCaptchaGeneralPanel table { margin-top: 30px; }
    .scfSectionLegend { font-family: $scfSectionLegend-fontfamily; color: $scfSectionLegend-color; font-weight: $scfSectionLegend-font-weight; font-size: $scfSectionLegend-font-size; text-rendering: optimizelegibility; line-height: $scfSectionLegend-lineheight; margin: 0px 0px $scfSectionLegend-textMarginBottom 0; }
    h1.scfTitleBorder { font-family: $scfTitleBorder-fontfamily; color: $scfTitleBorder-color; font-weight: $scfTitleBorder-font-weight; font-size: $scfTitleBorder-font-size; text-rendering: optimizelegibility; line-height: $scfTitleBorder-lineheight; margin: 0px 0px $scfTitleBorder-textMarginBottom 0; }
    .scfValidationSummary { margin: $NIE-error-margin; border-color: $NIE-error-color; border-style: solid; border-width: $NIE-error-border; border-radius: $NIE-error-borderradius; padding: $NIE-error-padding; background: $NIE-error-bgColor;
        ul { margin: 0; padding: 0; list-style-type: none; }
        li { margin: 0 0 5px 0; padding: 0 0 0 20px; list-style-type: none; position: relative;
            &:before { position: absolute; content: " "; height: 1px; width: 5px; left: 6px; top: 11px; background-color: $NIE-error-color; }
        }
    }
}

@if $WFFMbuttonSubmit-textalign == center {
    .scfForm input[type="submit"] { margin: 0 auto; display: block; }
}
@else if $WFFMbuttonSubmit-textalign == right {
    .scfForm input[type="submit"] { float: right; }
}
@else if $WFFMbuttonSubmit-textalign == fullwidth {
    .scfForm input[type="submit"] { width: 100%; display: block; }
}

@if $helptip-showonhover {
    .scfForm .scfSectionContent > div [class*="UsefulInfo"] { padding: 9px 12px; border-radius: 5px; background: $helptip-BgColor; display: none; position: relative; margin-top: 5px;
        &:before { position: absolute; content: " "; height: 0; width: 0; left: 10px; top: -9px; border-style: solid; border-width: 0 10px 10px 10px; border-color: transparent transparent $helptip-BgColor transparent; }
        a, a:hover { color: #fff; text-decoration: underline; }
    }
    .scfForm .scfSectionContent > div:hover [class*="UsefulInfo"] { display: block; }
    html.touch .scfForm .scfSectionContent > div [class*="UsefulInfo"] { display: block; }
    .scfForm .scfSectionContent > div.scfShortText [class*="UsefulInfo"] {
        &:before { left: -9px; top: 10px; border-width: 10px 10px 10px 0; border-color: transparent $helptip-BgColor transparent transparent; }
    }
}

@if $movinglabels {
    .scfConfirmPasswordBorder, .scfCaptchaGeneralPanel { position: relative; }
    .scfForm .scfSectionContent > div {
        .scfEmailLabel, .scfMultipleLineTextLabel, .scfSingleLineTextLabel, .scfPasswordLabel, .scfNumberLabel, .scfDatePickerLabel, .scfListBoxLabel, .scfCreditCardLabel, .scfConfirmPasswordLabel, .scfTelephoneLabel, .scfSmsTelephoneLabel, .scfDropListLabel, .scfCaptchaLabelText {
            position: absolute;
            left: $scfSectionContent-spacingBetweenDividedInputBoxes + $NIE-bordersize + 10px;
            height: 20px;
            line-height: 20px;
            top: 0;
            margin-top: -10px;
            padding: 0 5px 0 5px;
            display: inline-block;
            width: auto;
            z-index: 1;
            @include WLtransition;

            &:before {
                position: absolute;
                content: " ";
                height: 50%;
                width: 100%;
                left: 0;
                bottom: 0;
                background: $NIE-background;
                z-index: -1;
                @include WLtransition;
            }
        }
        .scfConfirmPasswordLabel, .scfCaptchaLabelText { left: 10px; }
    }
    .scfForm .scfSectionContent > div.pristine {
        .scfEmailLabel, .scfMultipleLineTextLabel, .scfSingleLineTextLabel, .scfPasswordLabel, .scfNumberLabel, .scfDatePickerLabel, .scfListBoxLabel, .scfCreditCardLabel, .scfConfirmPasswordLabel, .scfTelephoneLabel, .scfSmsTelephoneLabel, .scfDropListLabel, .scfCaptchaLabelText { margin-top: (($NIE-height - 20px) /2);
            &:before { height: 100%; }
        }
    }
    .scfForm .scfSectionContent > div .pristine {
        .scfConfirmPasswordLabel { margin-top: (($NIE-height - 20px) /2);
            &:before { height: 100%; }
        }
    }
}

@if $labelsOldStyle {
    .scfForm .scfSectionContent > div:after, .scfForm .scfSectionContent > div .scfConfirmPasswordBorder:after { content: " "; display: block; height: 0; width: 100%; clear: both; }
    .scfForm .scfSectionContent > div > label, .scfForm .scfSectionContent > div .scfDateSelectorLabel, .scfForm .scfSectionContent > div .scfRadioButtonListLabel, .scfForm .scfSectionContent > div .scfCheckBoxListLabel, .scfForm .scfSectionContent > div .scfConfirmPasswordBorder label, .scfForm .scfShortText .scfSingleLineTextLabel { width: 40%; float: left; }
    .scfForm .scfSectionContent > div > label + div, .scfForm .scfSectionContent > div .scfConfirmPasswordBorder label + div, .scfForm .scfShortText .scfSingleLineGeneralPanel, .scfForm .scfDateSelectorGeneralPanel, .scfForm .scfCheckBoxListGeneralPanel, .scfForm .scfRadioButtonListGeneralPanel { width: 60%; float: left; }
    .scfForm .scfSectionContent > div.scfFileUploadBorder label { margin-left: 40%; }
    .scfForm .scfSectionContent > div.scfFileUploadBorder .scfFileUploadGeneralPanel, .scfForm .scfSectionContent .scfRadioButtonListUsefulInfo, .scfForm .scfSectionContent .scfCheckBoxListUsefulInfo { margin-left: 40%; width: 60%; }
    .scfForm .scfSectionContent > div.scfFileUploadBorder input { height: 1px; line-height: 1px; }
    .scfForm .scfSectionContent > div.scfFileUploadBorder { width: 100%; }
    .scfForm .scfCheckBoxListGeneralPanel .scfCheckBoxListUsefulInfo, .scfForm .scfCheckBoxListGeneralPanel .scfRadioButtonListGeneralPanel { width: 100%; margin-left: 0; }
    .scfShortText .scfSingleLineTextLabel { width: 40%; float: left; }
    .scfForm .scfDateSelectorGeneralPanel .scfDateSelectorUsefulInfo { clear: both; }
    .scfForm .scfDateSelectorGeneralPanel select + select + select { margin-bottom: 1px; }
}

@if $useBreakpoints {
    @media screen and (max-width: $WFFMrespond-mobile-end) {
        .scfForm {
            .halfSection { width: 100% !important; float: !important; }
            .scfDateSelectorGeneralPanel {
                select, select + select, select + select + select { width: 100%; float: none; margin: 0 0 10px 0; }
                select + select + select { margin: 0; }
            }
            .scfSectionContent {
                > div.thirdAvailableWidth, > div.halfAvailableWidth { width: 100%; clear: both; }
            }
        }

        @if $labelsOldStyle {
            .scfForm .scfSectionContent > div > label, .scfForm .scfSectionContent > div .scfDateSelectorLabel, .scfForm .scfSectionContent > div .scfRadioButtonListLabel, .scfForm .scfSectionContent > div .scfCheckBoxListLabel, .scfForm .scfSectionContent > div .scfConfirmPasswordBorder label, .scfForm .scfShortText .scfSingleLineTextLabel, .scfForm .scfSectionContent > div > label + div, .scfForm .scfSectionContent > div .scfConfirmPasswordBorder label + div, .scfForm .scfShortText .scfSingleLineGeneralPanel, .scfForm .scfDateSelectorGeneralPanel, .scfForm .scfSectionContent > div.scfFileUploadBorder .scfFileUploadGeneralPanel, .scfForm .scfSectionContent .scfRadioButtonListUsefulInfo, .scfForm .scfSectionContent .scfCheckBoxListUsefulInfo, .scfShortText .scfSingleLineTextLabel, .scfForm .scfCheckBoxListGeneralPanel, .scfForm .scfRadioButtonListGeneralPanel { margin-left: 0; width: 100%; float: none; }
            .scfForm .scfSectionContent > div.scfFileUploadBorder label { width: auto; float: left; margin-left: 0; }
            .scfForm .scfFileUploadGeneralPanel { clear: both; }
        }
    }

    ;
}
